<div ng-include="'navigation/header.html'"></div>
<form layout="column">
   <md-card>
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h2>Input</h2>
         </div>
      </md-toolbar>
      <md-card-content>
         <div layout="row" flex>
            <md-input-container flex="80">
               <label>99 Acres URL</label>
               <input type="text" ng-model="data.acres99">
            </md-input-container> 
            <md-button ng-disabled="!data.acres99"  ng-click="submitUrl(data.acres99, 'acres99')" flex="20" class="md-primary md-raised">Submit</md-button>
         </div>
         <div layout="row" flex>
            <md-input-container flex="80">
               <label>Magic Bricks URL</label>
               <input type="text" ng-model="data.magicBricks">
            </md-input-container> 
            <md-button ng-disabled="!data.magicBricks"  ng-click="submitUrl(data.magicBricks, 'magicBricks')" flex="20" class="md-primary md-raised">Submit</md-button>
         </div>
         <div layout="row" flex>
            <md-input-container flex="80">
               <label>Sqaure Yards URL</label>
               <input type="text" ng-model="data.squareYards">
            </md-input-container> 
            <md-button ng-disabled="!data.squareYards"  ng-click="submitUrl(data.squareYards, 'squareYards')" flex="20" class="md-primary md-raised">Submit</md-button>
         </div>
      </md-card-content>
   </md-card>
</form>
<form layout="column" name="marketingForm">
   <md-card>
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h3>Data</h3>
         </div>
      </md-toolbar>
   </md-card>
   <div ng-include="'form/table-one.html'"></div>
   <div class="center">
      <h1>Units</h1>
   </div>
   <div ng-include="'form/unit-template.html'"></div>
   <div layout="row">
      <div flex></div>
      <md-button
         class="md-primary md-raised"
         ng-click="submit()">
         Submit
      </md-button>
   </div>
   <div>
      {{roofpikData | json}}
   </div>
   <div>
         {{json.projectDetails.approvedBankLoans}}
   </div>
</form>
<!--<fb-md-row property="projectType"></fb-md-row>-->
            <!--<tr class="left" md-row>
               <td md-cell>projectType</td>
               <td md-cell>{{acres99['projectType']}}</td>
               <td md-cell>{{magicBricks['projectType']}}</td>
               <td md-cell>{{xyz['projectType']}}</td>
               <td md-cell>
                  <input type="text" ng-model="roofpikData['buy']">
               </td>
            </tr>-->

            <!--<tr 
               class="left"
               md-row
               ng-repeat="(key, value) in jsonObject">
               <td md-cell>{{key | camelCaseToHuman}}</td>
               <td class="primary-col" md-cell ng-click="roofpikData[key] = acres99[key]">{{acres99[key]}}</td>
               <td md-cell ng-click="roofpikData[key] = magicBricks[key]">{{magicBricks[key]}}</td>
               <td class="primary-col" md-cell ng-click="roofpikData[key] = xyz[key]">{{xyz[key]}}</td>
               <td md-cell>
                  <input type="text" ng-model="roofpikData[key]">
               </td>
            </tr>-->

            