<!--<md-table-container id="table_{{$index+1}}" flex ng-repeat="(key1,value1) in xyz.units">-->
<md-table-container id="table_{{$index+1}}" flex ng-repeat="(key1,value1) in units">
   <div class="center unit-tab" ng-click="show($index+1)">
      <h2>Unit {{$index+1}}</h2>
      <md-icon ng-show="showing === $index+1">remove</md-icon>
      <md-icon ng-show="showing != $index+1">add</md-icon>
   </div>
   <table
      ng-show="showing === $index+1"
      md-table>
      <thead md-head>
         <tr class="text-center" md-row>
            <th md-column>JSON Object</th>
            <th md-column class="primary-col">99 Acres</th>
            <th md-column>Magic Bricks</th>
            <th md-column class="primary-col">Square Yards</th>
            <th md-column>Roofpik</th>
         </tr>
      </thead>
      <tbody md-body>
         <tr fb-md-row-heading title="configurations" class="left"></tr>
         <tr ng-repeat="(key, value) in xyz['units']['configurations'][key1]" ng-if="key!='price'" fb-md-row-four-level property='["units","configurations","{{key1}}","{{key}}"]' class="left" md-row></tr>
         <tr fb-md-row-heading title="price" class="left"></tr>
         <tr fb-md-row-heading title="booking" class="left"></tr>
         <tr fb-md-row-six-level property='["units", "configurations", "{{key1}}", "price", "booking", "min"]' md-row></tr>
         <tr fb-md-row-six-level property='["units", "configurations", "{{key1}}", "price", "booking", "max"]' md-row></tr>
         <tr fb-md-row-heading title="resale" class="left"></tr>
         <tr fb-md-row-six-level property='["units", "configurations", "{{key1}}", "price", "resale", "min"]' md-row></tr>
         <tr fb-md-row-six-level property='["units", "configurations", "{{key1}}", "price", "resale", "max"]' md-row></tr>
         <tr fb-md-row-heading title="specifications" class="left"></tr>
         <tr ng-repeat="(key, value) in xyz['units']['specifications']" fb-md-row-three-level property='["units","specifications","{{key}}"]' class="left" md-row></tr>
      </tbody>
   </table>
</md-table-container>