<td md-cell>{{propertyNameInHuman}}</td>
<td class="text-center center" md-cell ng-click="roofpikData[propertyName] = acres99[propertyName]">{{acres99[propertyName] | camelCaseToHuman}}</td>
<td class="text-center center" md-cell ng-click="roofpikData[propertyName] = magicBricks[propertyName]">{{magicBricks[propertyName] | camelCaseToHuman}}</td>
<td class="text-center center" md-cell ng-click="roofpikData[propertyName] = xyz[propertyName]">{{xyz[propertyName] | camelCaseToHuman}}</td>
<td class="text-center center" md-cell>
   <input type="text" ng-model="roofpikData[propertyName]">
</td>