<td md-cell>{{propertyNameInHuman}}</td>
<td class="text-center center" md-cell ng-click="roofpikData[propertyName0][propertyName1] = acres99[propertyName0][propertyName1]">{{acres99[propertyName0][propertyName1]}}</td>
<td class="text-center center" md-cell ng-click="roofpikData[propertyName0][propertyName1] = magicBricks[propertyName0][propertyName1]">{{magicBricks[propertyName0][propertyName1]}}</td>
<td class="text-center center" md-cell ng-click="roofpikData[propertyName0][propertyName1] = xyz[propertyName0][propertyName1]">{{xyz[propertyName0][propertyName1]}}</td>
<td class="text-center center" md-cell>
   <input type="text" ng-model="roofpikData[propertyName0][propertyName1]">
</td>