<td md-cell>{{propertyNameInHuman}}</td>
<td 
   class="text-center center" 
   md-cell 
   ng-click="roofpikData[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4] = acres99[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4]">
   {{acres99[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4] | camelCaseToHuman}}
</td>
<td 
   class="text-center center" 
   md-cell 
   ng-click="roofpikData[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4] = magicBricks[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4]">
   {{magicBricks[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4] | camelCaseToHuman}}
</td>
<td 
   class="text-center center" 
   md-cell 
   ng-click="roofpikData[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4] = xyz[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4]">
   {{xyz[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4] | camelCaseToHuman}}
</td>
<td 
   class="text-center center" 
   md-cell>
   <input 
      type="text" 
      ng-model="roofpikData[propertyName0][propertyName1][propertyName2][propertyName3][propertyName4]">
</td>